In [2]:
import pandas as pd

In [3]:
yelp_df = pd.read_csv('train.csv', names=['label', 'review'])
imdb_df = pd.read_csv('imdb.csv')
sst_df = pd.concat([pd.read_csv('SST-2/train.tsv', sep='\t'),  pd.read_csv('SST-2/dev.tsv', sep='\t')])

imdb_df.columns = ['review', 'label']
sst_df.columns = ['review', 'label']

In [3]:
# yelp 
yelp_df.drop_duplicates(inplace=True)
yelp_df.reset_index(inplace=True, drop=True)
yelp_df.label -= 1

# imdb
imdb_df.drop_duplicates(inplace=True)
imdb_df.reset_index(inplace=True, drop=True)
imdb_df.label.replace({'positive': 1, 'negative': 0}, inplace=True)
label = imdb_df.pop('label')
imdb_df.insert(0, 'label', label)

# sst
sst_df.drop_duplicates(inplace=True)
sst_df.reset_index(inplace=True, drop=True)
label = sst_df.pop('label')
sst_df.insert(0, 'label', label)

In [6]:
len(yelp_df), len(imdb_df), len(sst_df)

(560000, 50000, 68221)

In [4]:
df = pd.concat([yelp_df, imdb_df, sst_df])

In [5]:
df

       label                                             review
0          0  Unfortunately, the frustration of being Dr. Go...
1          1  Been going to Dr. Goldberg for over 10 years. ...
2          0  I don't know what Dr. Goldberg was like before...
3          0  I'm writing this review to give you a heads up...
4          1  All the food is great here. But the best thing...
...      ...                                                ...
67850      0              has all the depth of a wading pool .
67851      1              a movie with a real anarchic flair .
67852      0  a subject like this should inspire reaction in...
67853      0  ... is an arthritic attempt at directing by ca...
67854      1  looking aristocratic , luminous yet careworn i...

[677437 rows x 2 columns]

In [8]:
train_size = int(len(df) * 0.01)
train_size

6774

In [9]:
df.iloc[:train_size, :].to_csv('new_ss_train.csv', header=False, index=False)
df.iloc[train_size:, :].to_csv('new_train.csv', header=False, index=False)